body{
    background-color: blueviolet;
}

h1{
  color: brown;
  text-align: center;
}

p{
  font-family: Verdana;
  font-size: 20px;
  color: red;
}

#lvalor1{
         color: aqua;
}

.classLabel{
           color: cadetblue;
}


